[Unit]
Description=RasPi Streamer Tidal Connect Service
[Timer]
OnBootSec=1min
[Service]
Restart=on-failure
ExecStart=/usr/ifi/ifi-tidal-release/bin/tidal_connect_application \
				--tc-certificate-path "/usr/ifi/ifi-tidal-release/id_certificate/IfiAudio_ZenStream.dat" \
				-f "Pi Monitor" \
				--codec-mpegh true \
				--codec-mqa true \
				--model-name "Pi Monitor" \
				--disable-app-security false \
				--disable-web-security false \
				--enable-mqa-passthrough true \
				--log-level 3 \
				--enable-websocket-log "0" \
				--playback-device "softvol"

User=root
Group=root
RestartSec=1
KillMode=control-group
[Install]
WantedBy=multi-user.target
